# Rider
.idea/
*.sln.iml
**/obj/
**/bin/

# Archivos de depuración y compilación
*.pdb
*.dll
*.exe
*.cache
*.info
**/*.dll.config

# Archivos de NuGet
**/packages/*
*.nupkg
*.snupkg

# Configuraciones de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.ide

# Archivos temporales de Rider
**/obj/**/*.info
**/obj/**/*.cache

# Archivos de compilación de proyectos
**/bin/**/*.pdb
**/bin/**/*.dll
**/bin/**/*.exe

# Archivos de usuario de JetBrains
.idea/
*.sln.iml

# Archivos de sistema
Thumbs.db
.DS_Store
*.log
*.tmp
*.temp
*.bak
*.swp
*~
